<div class="menu">
    <ul class="lista">
        <a href="{% url 'Inicio' %}"><li class="elemento-lista">Inicio</li></a>
        <a href="{% url 'Miembros' %}"><li class="elemento-lista">Miembros</li></a>
        {% if user.is_authenticated %}
            <a href="{% url 'Agregar-Post' %}"><li class="elemento-lista">
        {% else %}
            <li onclick="alert('Necesitas iniciar sesión para postear')" class="elemento-lista" style="opacity: 0.7;">
        {%endif%}
        Crear post</li></a>
            <a href="{% url 'Acerca' %}"><li class="elemento-lista">Acerca de</li></a>
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}"><li class="elemento-lista">Iniciar sesión</li></a>
            <a href="{% url 'registrarse' %}"><li class="elemento-lista">Registrarse</li></a>
        {% else %}
            <a href="javascript:void(0);" onclick="showPerfil('perfil');"><li class="elemento-lista">Perfil</li></a>
            <a href="{% url 'logout' %}"><li class="elemento-lista">Cerrar sesión</li></a>
        {%endif%}
    </ul>
</div>